{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/config/(.*)$",
    "^@/contexts/(.*)$",
    "^@/hooks/(.*)$",
    "^@/lib/(.*)$",
    "",
    "^@/types/(.*)$",
    "",
    "^@/app/(.*)$",
    "",
    "^@/components/layout/(.*)$",
    "^@/components/ui/(.*)$",
    "^@/components/(.*)$",
    "",
    "^[./]"
  ],
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}